@charset "UTF-8";
.flexMid, .section_index, .muestra, .index_aditivos, .toxicidad, .vinculos_aditivos, .listaNav {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

@keyframes achicar {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(0.8, 0.8); }
  100% {
    transform: scale(1, 1); } }

@keyframes rotar {
  /*le iba a usar y al final no, pero dejo la animacion programada por siaca*/
  0% {
    transform: scale(2, 2); }
  25% {
    transform: rotate(-90deg); }
  50% {
    transform: scale(2, 2); }
  75% {
    transform: rotate(-90deg); }
  100% {
    transform: scale(2, 2); } }

@keyframes movete {
  0% {
    content: ""; }
  25% {
    content: "M";
    color: black; }
  50% {
    content: "ME";
    color: black; }
  75% {
    content: "MEN";
    color: black; }
  100% {
    content: "MENU";
    color: black; } }

.imgMain_index {
  width: 100%;
  height: 100%;
  padding: 3px;
  border: 2px solid #860920;
  background-color: #860920; }

.imgSection_index {
  width: 80%;
  height: 70%; }

.btn_muestra {
  background-color: #860920;
  color: white;
  padding: 5px; }
  .btn_muestra:hover {
    transform: scale(1.1, 1.1); }

.img_representada {
  max-height: 100%;
  max-width: 100%; }

.circulo {
  /*esto lo hice para probar, es más fácil con imágen*/
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid black; }

.main_indexMOBILE {
  display: none; }

.main_index {
  margin-top: 20px;
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 400px 400px;
  grid-template-areas: "titulo titulo" "texto1 imagen1" "imagen2 texto2";
  row-gap: 5px;
  column-gap: 5px;
  align-items: center;
  justify-items: center; }

#grillatitulo_main {
  grid-area: titulo; }

.section_index {
  margin-top: 20px; }

.boxSection_index {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  border: 2px solid black;
  margin: 10px;
  box-shadow: 10px 10px #860920;
  background-color: white; }
  .boxSection_index:hover {
    animation-name: achicar;
    animation-duration: 2s;
    background-color: #ff4463;
    box-shadow: none; }

#grilla1_main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-area: texto1; }

#grilla4_main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid #860920;
  grid-area: texto2;
  background-color: #860920; }

.representadas {
  margin: 50px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 150px 150px 150px;
  grid-template-areas: "a0 a0 a0 a0 a0 a0" "a2 a2 a2 a3 a3 a3" "a5 a5 a6 a6 a7 a7" "a8 a8 a8 a9 a9 a9";
  row-gap: 50px;
  column-gap: 70px;
  align-items: center;
  justify-items: center; }

.h2_index, h3 {
  grid-area: a0; }

/* ALTAS RESOLUCIONES */
@media (min-width: 1400px) and (max-width: 1700px) {
  .main_index {
    height: 1200px;
    grid-template-rows: 100px 500px 500px; } }

@media (min-width: 1700px) and (max-width: 2500px) {
  .main_index {
    height: 1400px;
    grid-template-rows: 100px 600px 600px; }
  .boxSection_index {
    width: 600px;
    height: 600px; } }

@media (min-width: 2500px) and (max-width: 3100px) {
  .main_index {
    height: 1800px;
    grid-template-rows: 100px 800px 800px; }
  .boxSection_index {
    width: 800px;
    height: 800px; } }

@media (min-width: 3100px) {
  .main_index {
    height: 2600px;
    grid-template-rows: 100px 1200px 1200px; }
  .boxSection_index {
    width: 1000px;
    height: 1000px; } }

/* MOBILE------------------Mains y secciones-----------------------------*/
/* MOBILE------------------Mains y secciones-----------------------------*/
/* MOBILE------------------Mains y secciones-----------------------------*/
@media (min-width: 799px) and (max-width: 1050px) {
  .main_index {
    grid-template-rows: 100px 300px 300px; } }

@media only screen and (max-width: 799px) {
  .imgMain_index {
    display: none; }
  .main_index {
    display: none; }
  .main_indexMOBILE {
    margin-bottom: 70px;
    /* es 70 porque el footer tiene -70 para que en toda página este abajo */
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #860920; }
  .representadas {
    margin: 20px;
    row-gap: 20px;
    column-gap: 40px; }
  .p_indexMOBILE {
    color: white;
    background-color: #860920; }
  .section_index {
    display: none; }
  .boxSection_index {
    height: 250px;
    width: 250px;
    border: none;
    box-shadow: none;
    background-color: transparent; }
  .boxSection_index:hover {
    animation: none;
    background-color: transparent; } }

@media only screen and (max-width: 420px) {
  .representadas {
    display: none; }
  .h2_index, h3 {
    font-size: 20px; } }

/*----------------boostrap items-----------------*/
.carousel {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .carousel-control-prev-icon {
    background-color: crimson; }
  .carousel-control-next-icon {
    background-color: crimson; }
  .carousel-indicators {
    background-color: #f3a0ae;
    width: 100%;
    margin: 0%; }

.img_carousel {
  max-height: 250px;
  width: 70%; }

.lista {
  background-image: linear-gradient(to bottom, white, #d88a97, white);
  display: grid;
  row-gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 0%;
  padding-bottom: 20px; }
  .lista:hover {
    background-image: linear-gradient(to bottom, white, #ff4463, white); }

.muestra {
  border: 2px solid #860920;
  background-color: white;
  width: 150px;
  height: 150px;
  flex-direction: column;
  margin-top: 10px; }
  .muestra:hover {
    border: 4px solid black; }

.lista_muestra {
  text-align: center;
  display: flex;
  color: #860920;
  font-weight: bold;
  font-family: 'Bellota';
  padding-left: 10px;
  padding-right: 10px; }

.section_SeI {
  margin-bottom: 100px; }

.btn_muestra {
  background-color: #860920;
  color: white;
  padding: 5px; }
  .btn_muestra:hover {
    transform: scale(1.05, 1.05); }

/*MAYORES RESOLUCIONES*/
@media (min-width: 1875px) and (max-width: 2500px) {
  .lista {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .muestra {
    width: 240px;
    height: 240px; } }

@media (min-width: 2500px) and (max-width: 3000px) {
  .lista {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .muestra {
    width: 330px;
    height: 330px; } }

@media (min-width: 3000px) {
  .lista {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .muestra {
    width: 400px;
    height: 400px; } }

/*MOBILE-----------Listas pag SABORES E INGREDIENTES--------*/
/*MOBILE-----------Listas pag SABORES E INGREDIENTES--------*/
/*MOBILE-----------Listas pag SABORES E INGREDIENTES--------*/
@media (min-width: 1250px) and (max-width: 1875px) {
  .lista {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
  .muestra {
    width: 185px;
    height: 185px; } }

@media (min-width: 850px) and (max-width: 1250px) {
  .lista {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }

@media only screen and (max-width: 850px) {
  .lista {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media only screen and (max-width: 720px) {
  .lista {
    grid-template-columns: 1fr 1fr 1fr; } }

@media only screen and (max-width: 500px) {
  .lista {
    grid-template-columns: 1fr 1fr; } }

/*----------------boostrap items-----------------*/
.accordion-body {
  padding: 0;
  padding-top: 30px; }

.accordion-button {
  font-weight: bold;
  font-size: large;
  font-family: 'Bellota';
  background-color: #860920;
  color: white;
  border: 1px solid black; }

.accordion-item {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0; }

.accordion-button::after {
  transform: scale(2, 2);
  background-image: url("../img/Iconos/flecha_negra.png"); }

.accordion-button:not(.collapsed) {
  color: crimson;
  background-color: pink; }
  .accordion-button:not(.collapsed)::after {
    transform: scale(2, 2);
    background-image: url("../img/Iconos/flecha_roja.png");
    animation-name: rotar;
    animation-duration: 2s;
    animation-iteration-count: infinite; }

@media (min-width: 1400px) and (max-width: 1700px) {
  .accordion-button {
    font-size: 25px; } }

@media (min-width: 1700px) and (max-width: 2600px) {
  .accordion-button {
    font-size: 35px; } }

@media (min-width: 2600px) {
  .accordion-button {
    font-size: 45px; } }

.section_aditivos {
  margin-bottom: 100px; }

.buscar_aditivos {
  display: flex;
  align-items: center;
  justify-content: center; }

#btnBuscar_aditivos {
  padding: 0%;
  margin: 0%;
  height: 30px; }

.index_aditivos {
  margin-bottom: 30px; }

.div_aditivos {
  display: flex;
  align-items: baseline;
  justify-content: center; }

.parrafo_aditivos {
  padding: 0px;
  text-align: left; }

.toxicidad {
  width: 70%; }

.box_aditivos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px; }

.checkbox_aditivos {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px; }

.btnCheck_aditivos {
  margin-left: 10px; }

.labelAditivos {
  display: none; }

#menuAditivos {
  display: none; }

.click_aditivos {
  display: none; }

/*MOBILE-------------PAGINA ADITIVOS-----------*/
/*MOBILE-------------PAGINA ADITIVOS-----------*/
/*MOBILE-------------PAGINA ADITIVOS-----------*/
@media only screen and (max-width: 915px) {
  .index_aditivos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .toxicidad {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-evenly; }
  .circulo {
    /*esto lo hice para probar, es más fácil con imágen*/
    width: 30px;
    height: 30px; }
  .vinculos_aditivos {
    display: none; }
  .labelAditivos {
    display: flex;
    background-color: #860920;
    color: white;
    font-size: larger;
    justify-content: center; }
  .parrafo_aditivos {
    text-align: center; }
  input:checked ~ .vinculos_aditivos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; } }

@media only screen and (max-width: 700px) {
  .boxParrafo_aditivos {
    display: none; }
  .click_aditivos {
    display: flex;
    width: 100px;
    height: 60px;
    padding-left: 5px;
    background-color: #ebe7e7;
    color: #860920;
    font-size: 15px;
    text-align: center; }
  .click_aditivos:focus ~ .boxParrafo_aditivos {
    display: flex;
    bottom: 20%;
    right: 50px;
    position: fixed;
    z-index: 1;
    border: 1px solid black;
    background-color: white; } }

@media only screen and (max-width: 500px) {
  .box_aditivos {
    display: flex;
    flex-direction: column; }
  .toxicidad {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .buscar_aditivos {
    display: flex;
    align-items: center;
    justify-content: center; }
  .div_aditivos {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media only screen and (max-width: 400px) {
  input:checked ~ .vinculos_aditivos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; } }

/*----------------boostrap items-----------------*/
.card {
  margin: 20px; }
  .card-text {
    color: white; }
  .card-body {
    padding: 0; }
  .card-footer {
    padding: 0; }

.footer_card {
  color: black;
  transform: scale(1.3, 1.3); }

.section_contacto {
  display: flex;
  margin-bottom: 100px; }

.field_contacto {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding-right: 5%;
  padding-left: 20px;
  justify-content: center;
  border: none; }

.form_contacto {
  width: 50%; }

.form_box {
  font-size: 20px;
  width: 80%;
  box-shadow: 10px 7px #860920; }

.aside_contacto {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 600px;
  background-color: #860920;
  align-items: center;
  justify-content: center;
  border: none; }

.div_consulta {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 35px;
  margin-top: 10px; }

input[type="submit"] {
  overflow: visible;
  position: sticky;
  padding: 2%;
  margin-top: 10px;
  grid-area: boton; }

#info_contacto {
  font-family: 'Bellota';
  font-size: 30px;
  margin-top: 50px;
  line-height: 40px;
  color: white; }

#muestrasSolicitadas {
  width: 60%;
  height: 200px;
  font-size: 17px;
  background-color: transparent;
  color: white;
  box-shadow: 10px 7px white; }

/*MOBILE--------------CONTACTO---------------*/
/*MOBILE--------------CONTACTO---------------*/
/*MOBILE--------------CONTACTO---------------*/
@media only screen and (max-width: 880px) {
  .form_box {
    width: 100%; } }

@media only screen and (max-width: 760px) {
  .div_comment {
    display: flex;
    flex-direction: column; }
  h5 {
    font-size: large; } }

@media only screen and (max-width: 625px) {
  .section_contacto {
    display: flex;
    flex-direction: column; }
  .aside_contacto {
    width: 100%;
    height: 500px; }
  .form_contacto {
    width: 100%; } }

.encabezado {
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black; }

.logoSabores {
  margin: 10px;
  display: flex;
  width: 30%; }

.navegador {
  padding-top: 20px;
  font-size: large;
  width: 70%;
  height: auto; }

.listaNav {
  padding: 0%;
  list-style: none; }

.vinculos:link {
  text-decoration: none; }

.vinculos:hover {
  transform: scale(1.25, 1.25);
  font-weight: bolder;
  color: black; }

li {
  transform: scale(1.1, 1.1);
  font-family: 'Bellota';
  list-style: none;
  color: black; }

footer {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 30px;
  margin-bottom: 0px;
  background-color: #860920;
  position: absolute; }

.footerParrafo {
  color: white; }

#menuHamburguesa {
  display: none; }

.labelHamburguesa {
  display: none; }

@media (min-width: 1700px) and (max-width: 2500px) {
  li {
    transform: scale(1.5, 1.5); } }

@media (min-width: 2500px) {
  li {
    transform: scale(2.2, 2.2); } }

@media (min-width: 3200px) {
  li {
    transform: scale(3, 3); } }

/* MOBILE--------------------Header, footer y navegación-------------------*/
/* MOBILE--------------------Header, footer y navegación-------------------*/
/* MOBILE--------------------Header, footer y navegación-------------------*/
@media only screen and (max-width: 999px) {
  #menuHamburguesa {
    display: none; }
  .labelHamburguesa {
    padding: 5px;
    display: flex;
    font-size: larger;
    font-weight: bold; }
    .labelHamburguesa::after {
      padding-left: 5px;
      padding-top: 2px;
      /*hay diferencia en los paddings por la letra, sin esto no se veia bien*/
      font-family: 'Bellota';
      content: "MENU";
      animation-name: movete;
      animation-duration: 3s; }
  .listaNav {
    display: none; }
  input:checked ~ .listaNav {
    display: flex;
    flex-direction: column; }
  .encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navegador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 5px;
    background-image: linear-gradient(to left, pink, white, pink);
    border: 2px solid #860920; }
    .navegador:hover {
      background-image: linear-gradient(to left, #ff4463, pink, #ff4463); } }

@media only screen and (max-width: 480px) {
  .logoSabores {
    display: none; }
  .navegador {
    width: 100% !important; }
  .footerParrafo {
    font-size: 15px; } }

h1 {
  font-family: 'Bellota', cursive;
  color: #860920;
  font-weight: bold;
  margin: 20px;
  text-align: center; }

.parrafo_index {
  padding: 3%; }

p {
  font-family: 'Bellota';
  font-size: large;
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  margin: 0; }

.redParrafo {
  color: white;
  padding: 3%; }

.h2_index, h3 {
  font-family: 'Bellota';
  text-align: center;
  color: black;
  white-space: nowrap; }

h2, .h2_contacto {
  color: #860920;
  font-weight: bold;
  font-family: 'Bellota';
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center; }

.h2_contacto {
  color: white; }

label {
  font-family: 'Bellota';
  color: #860920;
  font-size: 20px;
  font-weight: bold; }

h3 {
  color: #860920;
  text-decoration: underline; }

h4 {
  margin-left: 5px; }

.h2_index, h3 {
  font-family: 'Bellota';
  text-align: center;
  color: #860920;
  white-space: nowrap; }

/* OTRAS RESOLUCIONES*/
/* OTRAS RESOLUCIONES*/
/* OTRAS RESOLUCIONES*/
@media (min-width: 1400px) and (max-width: 1700px) {
  p {
    font-size: 20px; }
  .parrafo_index {
    font-size: 25px; }
  .h2_index, h3 {
    font-size: 35px; }
  .redParrafo {
    font-size: 25px; } }

@media (min-width: 1700px) and (max-width: 2600px) {
  p {
    font-size: 25px; }
  .parrafo_index {
    font-size: 30px; }
  .redParrafo {
    font-size: 30px; }
  h1 {
    font-size: 50px; }
  .h2_index, h3 {
    font-size: 45px; } }

@media (min-width: 2600px) {
  p {
    font-size: 30px; }
  .parrafo_index {
    font-size: 50px;
    line-height: 70px; }
  .redParrafo {
    font-size: 50px;
    line-height: 70px; }
  h1 {
    font-size: 70px; }
  .h2_index, h3 {
    font-size: 55px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body_index {
  background-image: linear-gradient(to bottom, white, white, #860920, white, white, white); }

/*Para que el footer siempre esté abajo*/
html {
  position: relative;
  min-height: calc(100vh - 70px); }

footer {
  bottom: -70px; }

/*Para que el footer siempre esté abajo*/
