.main_indexMOBILE{
    display: none;
    
}
.main_index{
    height: 1000px;
    display: grid;
    grid-template-columns: 1ft 1ft;
    grid-template-rows: 100px 400px 400px;
    grid-template-areas: "titulo titulo"
                        "texto1 imagen1"
                        "imagen2 texto2";
    row-gap: 5px;
    column-gap: 5px;
    align-items: center;
    justify-items: center;
}

@media (min-width:799px) AND (max-width:1050px){
    .main_index{

        grid-template-rows: 100px 300px 300px;
    
    }
}

#grillatitulo_main{
    grid-area: titulo;
}


.section_index{
    margin-top: 20px;
    @extend .flexMid;
}

.boxSection_index{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;   
    border: 2px solid black;
    margin: 10px;
    box-shadow: 10px 10px black;
    background-color: white;

        &:hover{
            animation-name: achicar;
            animation-duration: 2s; 
            background-color: $colorHover;
            box-shadow: none;
        }
}



#grilla1_main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;  
    grid-area: texto1;
}

#grilla4_main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    grid-area: texto2;
    
}



.h2_index{
    font-family: 'Bellota';
    text-align: center;
    color: black;
    white-space: nowrap;
}
/* MOBILE------------------Mains y secciones-----------------------------*/
/* MOBILE------------------Mains y secciones-----------------------------*/
/* MOBILE------------------Mains y secciones-----------------------------*/

@media only screen and (max-width:799px){

    .imgMain_index{
      display: none;
    }
    .main_index{
        display: none;
    }

    .main_indexMOBILE{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border:2px solid $colorSabores;
    }


    .p_indexMOBILE{
        color: white;
        background-color: $colorSabores;
    }

    .section_index{
        display: none;
    }

    .boxSection_index{
        height: 250px;
        width: 250px;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }

    .boxSection_index:hover{
        animation: none;
        background-color: transparent ;
    }
}

@media only screen and (max-width:420px){
    .h2_index{
        font-size: 20px;
    }
}
/*----------------boostrap items-----------------*/

.carousel{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-control-prev-icon {
        background-color: crimson;
        
    }
        
    &-control-next-icon {
    background-color: crimson;
      }
    
    &-indicators{
        background-color: rgb(243, 160, 174);
        width: 100%;
        margin:0%;
        
    }  
}



.img_carousel{
    max-height: 250px;
    width: 70%;
}