


h1{
    font-family: 'Bellota', cursive;
    color: $colorSabores;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}




.parrafo_index{
    
    padding: 3%;
}



p{
    font-family: 'Bellota';
    font-size: large;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin: 0;
}


.redParrafo{
    
    color: white;
    padding: 3%;
}

.h2_index{
    font-family: 'Bellota';
    text-align: center;
    color: black;
    white-space: nowrap;
}

h2{
    color:$colorSabores ;
    font-weight: bold;
    font-family: 'Bellota';
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.h2_contacto{
    @extend h2;
    color: white;
}

label{
    font-family: 'Bellota';
    color: $colorSabores;
    font-size: 20px;
    font-weight: bold;
}


h3{
    @extend .h2_index;
    color: $colorSabores;
    text-decoration: underline;
}

h4{
    margin-left: 5px;
}

.h2_index{
    font-family: 'Bellota';
    text-align: center;
    color: $colorSabores;
    white-space: nowrap;
}

/* OTRAS RESOLUCIONES*/
/* OTRAS RESOLUCIONES*/
/* OTRAS RESOLUCIONES*/

@media (min-width:1400px) AND (max-width:1700px){
    p{
        font-size: 20px; 
    }

    .parrafo_index{

        font-size: 25px;
    
    }

    .h2_index{
        font-size: 35px;
    }

    .redParrafo{
    
        font-size: 25px;
    }
}

@media (min-width:1700px) AND (max-width:2600px) {

    p{
        font-size: 25px; 
    }
    .parrafo_index{

        font-size: 30px;
    
    }


    .redParrafo{
    
        font-size: 30px;
    }

    h1{
        font-size: 50px;
    }

    .h2_index{
        font-size: 45px;
    }
}


@media (min-width:2600px) {
    p{
        font-size: 30px; 
    }

    .parrafo_index{

        font-size: 50px;
        line-height: 70px;
    }

    .redParrafo{
    
        font-size: 50px;
        line-height: 70px;
    }

    h1{
        font-size: 70px;
    }
    .h2_index{
        font-size: 55px;
    }
}
