.lista{
    display: grid;
    row-gap: 30px;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(to bottom, white , rgb(216, 138, 151), white );
    padding: 0%;
    padding-bottom: 20px;
    
}
.muestra{
    border: 2px solid $colorSabores ;
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;

        &:hover{
            border: 4px solid black;
        }
    }

.lista_muestra{
    text-align: center;
    display: flex;
    color:$colorSabores ;
    font-weight: bold;
    font-family: 'Bellota';
    padding-left: 10px;
    padding-right: 10px;
}

/*MOBILE-----------Listas pag SABORES E INGREDIENTES--------*/
/*MOBILE-----------Listas pag SABORES E INGREDIENTES--------*/
/*MOBILE-----------Listas pag SABORES E INGREDIENTES--------*/

@media only screen and (min-width:850px){
    .lista{

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }
}

@media only screen and (max-width:850px){
    .lista{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}



@media only screen and (max-width:720px){
    .lista{
        grid-template-columns: 1fr 1fr 1fr;

    }
}   

@media only screen and (max-width:500px){
    .lista{
        grid-template-columns: 1fr 1fr;
    }
}

/*----------------boostrap items-----------------*/



.accordion{

    &-body{
        padding: 0;
        padding-top: 30px;
    }

    &-button{
        font-weight: bold;
        font-size: large;
        font-family: 'Bellota';
        background-color:$colorSabores ;
        color: white;
        border: 1px solid black; 
    }

    &-item{
        margin-top: 30px;
        margin-bottom: 30px;
        border: 0;
    }

    &-button{

        &::after{
            transform: scale(2,2);
            background-image: url("../img/Iconos/flecha_negra.png");
        }

        &:not(.collapsed) {
            color: crimson;
            background-color: pink;
                
                &::after {
                    transform: scale(2,2);
                    background-image: url("../img/Iconos/flecha_roja.png");
                    animation-name: rotar;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
        }
    }
}


