@import "variables.scss";
@import "Animaciones.scss";
@import "Imagenes.scss";

@import "MainIndex.scss";
@import "SaboresIngredientes.scss";
@import "Aditivos.scss";
@import "Contactos.scss";
@import "NavFooter.scss";
@import "ParrafosTitulos.scss";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_index{
    background-image: linear-gradient(to bottom, white, white ,$colorSabores,white,white, white );
}

/*Para que el footer siempre esté abajo*/
html{
    position: relative;
    min-height: calc(100vh - 70px);
}

footer{
    bottom: -70px;
}
/*Para que el footer siempre esté abajo*/


